/* Layer that will contain the MLH Fellows logo. */
.mlh-layer {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    left: 577px;
    right: 577px;
    top: 925px;
    bottom: 32px;
    transition: transform .2s;
}

.mlh-layer:hover {
    transform: scale(1.2);
}

/* MLH Logo used from Flask Blog template. */
.mlh-logo-layer {
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.logo {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
