body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    font-family: 'Montserrat', sans-serif;

    overflow-x: hidden;
    margin: 0px;
}

.breaker {
    background-color: #313235;
    height: 8px;
    width: 5%;
    margin-top: 8px;
    margin-left: 12px;
}

.code-comment {
    color: #717171;
    font-family: 'Source Code Pro', monospace;
}

.curriculum {
    margin-left: 10rem;
    margin-right: 10rem;
}

.curriculum-subtitle{
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    color: #313235;
}

.curriculum-title {
    font-family: 'Source Code Pro', monospace;
    font-size: 48px;
    font-weight: 900;
    color: #313235;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.github-logo {
    position: absolute;
    width: 83px;
    height: 75px;
    left: 144px;
    right: 1213px;
    top: 56px;
    bottom: 893px;

    transition: transform .2s;
}

.github-logo:hover {
    transform: scale(1.2);
}

.greetings-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #313235;
    font-weight: 100;
}

.header-container {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
}
.icon{
    width: 200px;
    height: 200px;
    margin-right: 20px;
    padding: 10px;
}
.icon img {
    /* width: 100%; */
    height: 100%;
}            
.icon svg {
    width: 100%;
}    
.profile-photo {
    border-radius: 50%;
    height: 360px;
}

.name-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 140px;
    color: #313235;
}

.name-subtitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
    color: #313235;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: '64px';
}
