<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    {% block style %}{% endblock %}
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<div class="mlh-layer">
    <div class="mlh-logo-layer">
        <div class="logo">
            <a href="https://fellowship.mlh.io/">
                <img src="/static/img/MLH_Logo.svg" alt="MLH Fellows">
            </a>
        </div>
    </div>
</div>
</body>
</html>
