{% extends 'base.html' %}

{% block style %}
<link href="https://fonts.googleapis.com/css?family=Rancho&display=swap" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<!-- Boostrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
{% endblock %}

{% block head %}
<title>Team 1 Portfolio</title>
{% endblock %}

{% block body %}




<div class="rectangle1">
    <div class="title-text">
        <div class="text3">Team 1 Portfolio</div>
    </div>
    <div class="sub-text">
        <div class="text4">Powered by Flask</div>
    </div>
    <div class="top-right-text">
        <div class="text2">About</div>
    </div>
    <div class="podmate-text">
        <div class="text1">Welcome to <del>Pod 3.3.0</del>C Turtles</div>
    </div>


    <header class="jumbotron jumbotron-fluid text-center header d-flex">
        <div class="container waves">
            <div class="wave wave1"></div>
            <div class="wave wave2"></div>
            <div class="wave wave3"></div>
            <div class="wave wave4"></div>
        </div>
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/static/img/github.svg" alt="" width="30" height="24">
                </a>
            </div>
        </nav>
        <div class="container justify-content-center align-self-center">
            <!-- Just an image -->
            <nav class="navbar navbar-light bg-light navbar-fixed-top">
                <a class="navbar-brand" href="#">
                    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
                </a>
            </nav>
            <div class="turtle-layer">
                <img src="/static/img/Turtles.svg">
            </div>
            <div class="turtle-layer2">
                <img src="/static/img/Turtles2.svg">
            </div>
            <div class="team-text">
                <img src="/static/img/MeetTheTeam.svg" alt="Meet the Team">
            </div>
            <div class="carlos-wrap">
                <a href="https://www.linkedin.com/in/carlosricoveri/">
                    <img class="carlos" src="/static/img/Carlos.svg" alt="Carlos">
                </a>
                <p class="carlos-text">Carlos</p>
            </div>
            <div class="jorge-wrap">
                <a href="https://www.linkedin.com/in/jorgesanchezdiaz/">
                    <img class="jorge" src="/static/img/Jorge.svg" alt="Jorge">
                </a>
                <p class="jorge-text">Jorge</p>
            </div>
            <div class="saul-wrap">
                <a href="https://www.linkedin.com/in/saulmontesdeoca/">
                    <img class="saul" src="/static/img/Saul.svg" alt="Saul">
                </a>
                <p class="saul-text">Saul</p>
            </div>
            <div class="jc-wrap">
                <img class="jc" src="/static/img/JC.svg" alt="Juan Carlos">
                <p class="jc-text">JC</p>
            </div>
            <div class="gibson-wrap">
                <img class="gibson" src="/static/img/Gibson.svg" alt="Gibson">
                <p class="gibson-text">Gibson</p>
            </div>
            <div class="yenyu-wrap">
                <img class="yenyu" src="/static/img/Yenyu.svg" alt="Yenyu">
                <p class="yenyu-text">Yenyu</p>
            </div>
            <div class="athena-wrap">
                <img class="athena" src="/static/img/Athena.svg" alt="Athena">
                <p class="athena-text">Athena</p>
            </div>
            <div class="chris-wrap">
                <img class="chris" src="/static/img/Chris.svg" alt="Christopher">
                <p class="chris-text">Chris</p>
            </div>
            <div class="yashika-wrap">
                <img class="yashika" src="/static/img/Yashika.svg" alt="Yashika">
                <p class="yashika-text">Yashika</p>
            </div>
            <div class="jioh-wrap">
                <img class="jioh" src="/static/img/Jioh.svg" alt="Ji Oh">
                <p class="jioh-text">Ji-Oh</p>
            </div>
            <div class="nhi-wrap">
                <img class="nhi" src="/static/img/Nhi.svg" alt="Nhi">
                <p class="nhi-text">Nhi</p>
            </div>
            <div class="shivi-wrap">
                <img class="shivi" src="/static/img/Shivi.svg" alt="Shivi">
                <p class="shivi-text">Shivi</p>
            </div>
            <div class="patrick-wrap">
                <img class="patrick" src="/static/img/Patrick.svg" alt="Patrick">
                <p class="patrick-text">Patrick</p>
            </div>
            <div class="valerie-wrap">
                <img class="valerie" src="/static/img/Valerie.svg" alt="Valerie">
                <p class="valerie-text">Valerie</p>
            </div>


        </div>
    </header>
</div>

<!-- Bootsrap dependencies -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

{% endblock %}